# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/

# Unit test / coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# mypy / type checkers
.mypy_cache/
.dmypy.json
.pyre/

# uv
.python-version

# Ruff
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
